{% extends 'base.html' %}
{% block content %}
    <div class="page-content ">
        <div class="row-fluid">
            <div class="span12">
                {% if EventLogs is none %}
                <h3 class="header smaller lighter blue">{{ HostName }} &nbsp;
                    <a href="{{ url_for('host.hostdetail', host=Host) }}" data-action="reload"><i class="icon-refresh"></i></a>
                </h3>
                <div class="row-fluid">
                    <div class="span6">
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="span1">系统</th>
                                    <th class="span2">状态</th>
                                    <th class="span2 align-right">{{ SysDateTime }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for SysInfo in SysInfoList %}
                                <tr>
                                    <td>
                                        <a href="#" class="span9">{{ SysInfo.item }}</a>
                                        {% if SysInfo.status == 'error' %}
                                            <span class="badge badge-important "> &nbsp;</span>
                                        {% elif SysInfo.status == 'warning' %}
                                            <span class="badge badge-warning "> &nbsp;</span>
                                        {% elif SysInfo.status == 'ok' %}
                                            <span class="badge badge-success "> &nbsp;</span>
                                        {% else %}
                                            <span class="badge badge-grey "> &nbsp;</span>
                                        {% endif %}
                                    </td>
                                    <td colspan="2">
                                        {% for info in SysInfo.info %}
                                            {% for ii in info.info.split(',') %}
                                                {{ ii }}<br>
                                            {% endfor %}
{#                                                        {% if info.status.startswith('error') %}#}
{#                                                            <span class="badge badge-important ">#}
{#                                                                {% for ii in info.info.split(',') %}#}
{#                                                                    {{ ii }}<br>#}
{#                                                                {% endfor %}#}
{#                                                            </span><br>#}
{#                                                        {% elif info.status.startswith('warning') %}#}
{#                                                            <span class="badge badge-warning ">#}
{#                                                                {% for ii in info.info.split(',') %}#}
{#                                                                    {{ ii }}<br>#}
{#                                                                {% endfor %}#}
{#                                                            </span><br>#}
{#                                                        {% else %}#}
{#                                                            <span class="badge badge-success ">#}
{#                                                                {% for ii in info.info.split(',') %}#}
{#                                                                    {{ ii }}<br>#}
{#                                                                {% endfor %}#}
{#                                                            </span><br>#}
{#                                                        {% endif %}#}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!--/span-->
                    <div class="span6">
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="span1">业务</th>
                                    <th class="span2">处理结果</th>
                                    <th class="span2">最终更新时间</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for Event in EventList %}
                                <tr>
                                    <td>
                                        <a class="span9" href="{{ url_for('host.hostdetail', host=Host, event=Event.event) }}">{{ Event.name }}</a>
                                    </td>
                                    <td>
                                        <span class="badge badge-success ">{{ Event.ok_cnt }}</span>
                                        <span class="badge badge-warning ">{{ Event.warning_cnt }}</span>
                                        <span class="badge badge-important ">{{ Event.error_cnt }}</span>
                                        <span class="badge badge-grey ">{{ Event.unknown_cnt }}</span>
                                    </td>
                                    <td>{{ Event.date_time }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!--/span-->
                </div><!--/row-->
                {% endif %}
                {% if not EventLogs is none %}
                <div class="row-fluid">
                    <div class="span12">
                        <h3 class="header smaller lighter blue">{{ HostName }} &nbsp;<a href="{{ url_for('host.hostdetail', host=Host) }}"><i class="icon-reply"></i></a>  &nbsp; {{ EventName }} </h3>
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th class="span1">ID</th>
                                    <th class="span1">状态</th>
                                    <th class="span2">发生时间</th>
                                    <th class="span2">最终结果</th>
                                    <th class="span2">最终时间</th>
                                    <th class="span2">操作</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for EventLog in EventLogs %}
                                <tr>
                                    <td>{{ EventLog.event_id }}</td>
                                    <td>{{ EventLog.status }}</td>
                                    <td>{{ EventLog.event_datetime }}</td>
                                    <td><a class="badge {% if EventLog.operation.startswith('error') %}badge-important {% elif EventLog.operation.startswith('warning') %}badge-warning {% elif EventLog.operation.startswith('ok') or EventLog.operation.startswith('fix') or EventLog.operation.startswith('ignor') %}badge-success {% else %}badge-grey {% endif %}"
                                         onclick="javascript:operationhistory('{{ url_for('host.operationhistory') }}', '{{ EventLog.id }}', '{{ EventLog.event_id }}', '#id-history-ul')"> &nbsp;</a> {{ EventLog.operation }} </td>
                                    <td>{{ EventLog.operation_datetime }}</td>
                                    <td>
                                        <button class="btn btn-minier" id="bootbox-regular" onclick="operationdetail('{{ url_for('host.operationdetail') }}', '{{ EventLog.sysinfo_id }}', '{{ EventLog.id }}', '#id-detail-ul')">处理详细</button>
                                    </td>
                                </tr>
                                {% endfor %}
                                <div id="dialog-operationhistory" class="hide">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <ul class="item-list" id="id-history-ul">
                                            </ul>
                                        </div><!--/span-->
                                    </div>
                                </div><!--#dialog-message-->
                                <div id="dialog-operationdetail" class="hide">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <h4 class="smaller lighter blue">
                                                <i class="icon-list"></i>
                                                系统情报
                                            </h4>

                                            <ul class="item-list" id="id-detail-ul">
                                                <li class="item-blue ">
                                                    <label class="span2 inline"> CPU</label>
                                                    <label class="inline">
                                                        <span></span>
                                                    </label>
                                                </li>

                                                <li class="item-blue ">
                                                    <label class="span2 inline"> 内存</label>
                                                    <label class="inline">
                                                        <span></span>
                                                    </label>
                                                </li>

                                                <li class="item-blue ">
                                                    <label class="span2 inline"> 磁盘</label>
                                                    <label class="inline">
                                                        <span></span>
                                                    </label>
                                                </li>

                                                <li class="item-blue ">
                                                    <label class="span2 inline"> 服务</label>
                                                    <label class="inline">
                                                        <span></span>
                                                    </label>
                                                </li>

                                                <li class="item-blue ">
                                                    <label class="span2 inline"> 数据库</label>
                                                    <label class="inline">
                                                        <span></span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div><!--/span-->
                                        <div class="span6">
                                            <h4 class="smaller lighter blue">
                                                <i class="icon-list"></i>
                                                处理方式
                                            </h4>

                                            <ul class="item-list">
                                                <li class="item-blue ">
                                                    <label class="inline span2">
                                                        <input name="form-field-status" type="radio" class="ace" value="error" />
                                                        <span class="lbl">错误</span>
                                                    </label>
                                                    <label class="inline span2">
                                                        <input name="form-field-status" type="radio" class="ace" value="ignor" />
                                                        <span class="lbl">忽略</span>
                                                    </label>
                                                    <label class="inline span2">
                                                        <input name="form-field-status" type="radio" class="ace" value="fix" />
                                                        <span class="lbl">修复</span>
                                                    </label>

                                                    <textarea class="span12" id="form-field-comment" placeholder="Comment" style="height: 143px;"></textarea>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!--#dialog-message-->
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div><!--/.span-->
        </div><!--/.row-fluid-->
    </div><!--/.page-content-->
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery-ui-1.10.3.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootbox.min.js') }}"></script>
    <script type="text/javascript">
        function operationhistory(url, log_id, event_id, ul_id) {
            $(ul_id).empty();
            var pdata = { 'log_id':log_id, 'event_id':event_id };
            $.getJSON(url, pdata, function(data) {
                if (data.result != null && data.result == 'ok') {
                    var history = data.history;
                    for (var i=0; i<history.length; i++) {
                        var li =
                        "<li class='item-blue '>" +
                        "    <div class='time span4'>" +
                        "        <i class=’icon-time'></i>" +
                        "        <span class='green'>" + history[i].date_time + "</span>" +
                        "    </div>" +
                        "    <div class='name span8'>" +
                        "        <span>" + history[i].status + "</span>" +
                        "    </div>" +
                        "    <div class='text'>" + history[i].comment + "&nbsp;</div>" +
                        "</li>";
                        $(ul_id).append(li);
                    }
                }
                var dialog = $( "#dialog-operationhistory" ).dialog({
                    modal: true,
                    width: '35%',
                    height: '360',
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='icon-ok'></i> 处理履历 </h4></div>",
                    title_html: true,
                    buttons: [
                        {
                            text: "关闭",
                            "class" : "btn btn-mini",
                            click: function() {
                                $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
            });
        }
        function operationdetail(url, sysinfo_id, log_id, ul_id) {
            var pdata = { 'sysinfo_id':sysinfo_id};
            $(ul_id).empty();
            $.getJSON(url, pdata, function(data) {
                var sysinfo = data.sysinfo
                if (sysinfo != null) {
                    for (var i=0; i<sysinfo.length; i++) {
                        var info = sysinfo[i].info;

                        var status= sysinfo[i].status;
                        var css='';
                        if (status == 'error') {
                            css += 'badge badge-important ';
                        } else if (status == 'warning') {
                            css += 'badge badge-warning ';
                        } else if (status == 'ok') {
                            css += 'badge badge-success ';
                        }
                        var icon = "        <span class='" + css + "'> &nbsp;</span><br>";

                        var span = '';
                        for (var j=0; j<info.length; j++) {
                            var ii = info[j].info;
                            for (var k=0; k<ii.split(',').length; k++) {
                                span += ii.split(',')[k] + '<br>'
                            }
    {#                                var status= info[j].status;#}
    {#                                var css='badge ';#}
    {#                                if (status == 'error') {#}
    {#                                    css += 'badge-important ';#}
    {#                                } else if (status == 'warning') {#}
    {#                                    css += 'badge-warning ';#}
    {#                                } else {#}
    {#                                    css += 'badge-success ';#}
    {#                                }#}
    {#                                span += "        <span class='" + css + "'>" + ii + "</span><br>";#}

                        }
                        var li =
                        "<li class='item-blue '>" +
                        "    <label class='span2 inline'> <span class='span8'>" + sysinfo[i].item + '</span>' +  icon + "</label>" +
                        "    <label class='inline'>" + span +
                        "    </label>" +
                        "</li>";
                        $(ul_id).append(li);
                    }

                }
                var dialog = $( "#dialog-operationdetail" ).dialog({
                    modal: true,
                    width: '70%',
                    height: '600',
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='icon-ok'></i> 处理详细 </h4></div>",
                    title_html: true,
                    buttons: [
                        {
                            text: "取消",
                            "class" : "btn btn-mini",
                            click: function() {
                                $( this ).dialog( "close" );
                            }
                        },
                        {
                            text: "确定",
                            "class" : "btn btn-primary btn-mini",
                            click: function() {
                                var status = $("input[name='form-field-status']:checked").val();
                                var comment = $('#form-field-comment').val();
                                if (status == undefined) {
                                    alert('请选择处理方式');
                                    return false;
                                } else if (status == 'fix') {
                                } else if (status == 'error') {
                                    if (comment=='') {
                                        alert('请输入注释');
                                        return false;
                                    }
                                } else if (status == 'ignor') {
                                    if (comment=='') {
                                        alert('请输入注释');
                                        return false;
                                    }
                                }

                                var pdata = { 'status':status, 'comment':comment, 'log_id':log_id};
                                var _self = this;
                                $.getJSON(url, pdata, function(data) {
                                    if (data.result == 'ok') {
                                        location.reload();
                                    } else {
                                        return false;
                                    }
                                });
                            }
                        }
                    ]
                });
            });
        }
        jQuery(function($) {
				var oTable1 = $('#sample-table-2').dataTable( {
                "aaSorting": [],
				"aoColumns": [
                  { "bSortable": false },
                    null,
			      { "bSortable": false },
                    null,
				  { "bSortable": false },
				  { "bSortable": false }
				] } );
				//override dialog's title function to allow for HTML titles
				$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
					_title: function(title) {
						var $title = this.options.title || '&nbsp;'
						if( ("title_html" in this.options) && this.options.title_html == true )
							title.html($title);
						else title.text($title);
					}
				}));
			})
    </script>
{% endblock %}