{% extends 'base.html' %}
{% block content %}
    <div class="page-content ">
        <div class="row-fluid">
            <div class="span6">
                <h3 class="header smaller lighter blue">主机状态一览</h3>
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="span1">主机</th>
                            <th class="span2">主机运行状态</th>
                            <th class="span2">业务运行状态</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for Host in HostList %}
                        <tr>
                            <td>
                                <a href="{{ url_for('host.hostdetail', host=Host.host) }}">
                                    {{ Host.name }}
                                </a>
                            </td>
                            <td>
                                <span class="badge badge-success ">{{ Host.sys_ok_cnt}}</span>
                                <span class="badge badge-warning ">{{ Host.sys_warning_cnt}}</span>
                                <span class="badge badge-important ">{{ Host.sys_error_cnt}}</span>
                                <span class="badge badge-grey ">{{ Host.sys_unknow_cnt}}</span>
                            </td>
                            <td>
                                <span class="badge badge-success ">{{ Host.event_ok_cnt}}</span>
                                <span class="badge badge-warning ">{{ Host.event_warning_cnt}}</span>
                                <span class="badge badge-important ">{{ Host.event_error_cnt}}</span>
                                <span class="badge badge-grey ">{{ Host.event_unknown_cnt}}</span>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div><!--/.span-->
        </div><!--/.row-fluid-->
    </div><!--/.page-content-->
{% endblock %}
